In [2]:
orders = ['apple',10],['banana',5],['cherry',7],['dragon',10]
for each in orders:
    if each[0]=='cherry':
        each[1]=10
print(orders)

(['apple', 10], ['banana', 5], ['cherry', 10], ['dragon', 10])

In [3]:
orders

(['apple', 10], ['banana', 5], ['cherry', 10], ['dragon', 10])

In [14]:
apple_orders=[]
for each in orders:
    if each[0]=="apple":
        apple_orders.append(each[1])
print(apple_orders)
print(sum(apple_orders))

[10]
10

In [15]:
tup1 = (4,10,9,"A",9,81, False, 9-6j)
print (tup1)
print (type(tup1))

(4, 10, 9, 'A', 9, 81, False, (9-6j))
<class 'tuple'>

In [16]:
tup4 = ([1,2,3,],(4,8,9),"Hello",9.8)
tup4

([1, 2, 3], (4, 8, 9), 'Hello', 9.8)

In [17]:
tup4[0][2]=100
tup4

([1, 2, 100], (4, 8, 9), 'Hello', 9.8)

In [19]:
tup5=(10,20,1,10,10,10,30,20,10)
tup5.count(10)

5

In [2]:
# dictionary with a list of tuples
d = dict([("x",1), ("y",2),("z",3)])
print(d)

{'x': 1, 'y': 2, 'z': 3}

In [3]:
print(d.keys())
print(d.values())
print(d.items())

dict_keys(['x', 'y', 'z'])
dict_values([1, 2, 3])
dict_items([('x', 1), ('y', 2), ('z', 3)])

In [7]:
scores={'virat':90,'rohit':100,'Rahul':80,'Hardik':9,'Gill':20,'Jadeja':30}
scores

{'virat': 90, 'rohit': 100, 'Rahul': 80, 'Hardik': 9, 'Gill': 20, 'Jadeja': 30}

In [8]:
scores.update({'rohit':90})
scores

{'virat': 90, 'rohit': 90, 'Rahul': 80, 'Hardik': 9, 'Gill': 20, 'Jadeja': 30}

In [14]:
scores.update({'Ashwin':80})
scores

{'virat': 90,
 'rohit': 90,
 'Rahul': 80,
 'Hardik': 9,
 'Gill': 20,
 'Jadeja': 30,
 'Ashwin': 80,
 'pujara': 50}

In [10]:
scores.setdefault('Rahul',70)
scores

{'virat': 90,
 'rohit': 90,
 'Rahul': 80,
 'Hardik': 9,
 'Gill': 20,
 'Jadeja': 30,
 'Ashwin': 80}

In [12]:
scores.setdefault('pujara',50)
scores

{'virat': 90,
 'rohit': 90,
 'Rahul': 80,
 'Hardik': 9,
 'Gill': 20,
 'Jadeja': 30,
 'Ashwin': 80,
 'pujara': 50}

In [15]:
scores.popitem()
scores

{'virat': 90,
 'rohit': 90,
 'Rahul': 80,
 'Hardik': 9,
 'Gill': 20,
 'Jadeja': 30,
 'Ashwin': 80}

In [16]:
scores.pop('Rahul')
scores

{'virat': 90, 'rohit': 90, 'Hardik': 9, 'Gill': 20, 'Jadeja': 30, 'Ashwin': 80}